<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boletín Oficial Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Boletín Oficial - Scraping</h1>
    </header>
    
    <main>
        <form id="scrapeForm" method="POST" action="/scrap">
            <label for="keyword">Ingresar Palabra Clave:</label>
            <input type="text" id="keyword" name="keyword" required>
            
            <label for="year">Seleccionar Año:</label>
            <select id="year" name="year">
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <!-- Agrega más años según sea necesario -->
            </select>
            
            <label for="normType">Seleccionar Tipo de Norma:</label>
            <select id="normType" name="normType">
                <option value="RESOLUCIÓN">Resolución</option>
                <option value="DISPOSICIÓN">Disposición</option>
                <option value="DECRETO">Decreto</option>
                <!-- Agrega más tipos si es necesario -->
            </select>
            
            <button type="submit">Buscar en Boletín Oficial</button>
        </form>
        
        <div id="results"></div>
        
        <button id="boletinLink">Ir al Boletín Oficial</button>
    </main>

    <script>
        document.getElementById('boletinLink').onclick = function() {
            window.open('https://www.boletinoficial.gob.ar/', '_blank');
        };
    </script>
</body>
</html>
